<div data-dojo-attach-point="scrollBarContainer" class="scrollBarContainer">
    <div class="scrollBarSpace" data-dojo-attach-point="scrollBarSpace" >
    </div>
    <div data-dojo-attach-point="scrollBarHandleContainer" class="scrollBarHandleContainer">
        <div data-dojo-attach-point="scrollBarHandleHitArea" class="scrollBarHandleHitArea" >
            <div class="scrollBarHandle" >
                <div style="display: none;" class="handleT">
                </div>
            </div>
        </div>
    </div>
</div>